#:kotoba.app{:name "mio",
             :version "0.1.0",
             :components
             [{:name "mio",
               :src "src/mio.clj",
               :scale 1,
               :triggers [{:type :kse, :topic "etzhayyim/actor/mio"}],
               :requires #{:cap/kqe}}],
             :placement {:spread :zone, :require {:tier "edge"}}}
